#header4{
    min-height: 25vh;
    color: rgb(29, 73, 111);
  width :100%;
  background: rgba(88, 136, 209, 0.63);
}
#header4 h1{
  text-align: center;
  font-size: 2em;
}
#header4 p
{
  padding: 15px;
  font-size: 1em;
}
.foot
{
  position: relative;
}
.phone
{
  
  width: 2vw;
  border-radius: 3vw;
}
.loc
{
  
  width: 2vw;
  border-radius: 3vw;
}